@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.absolute-center{
	min-height: 100vh;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
}

body:not(.absolute-center){
	padding: 75px 15px 15px 300px;
}

.login-form{
	background-color: #08c;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	max-width: 100%;
	padding: 15px;
}

.login-form label{
	display: block;
	margin: 10px 0;
	width: 100%;
}

.login-form span {
	font-size: 13px;
	margin-bottom: 5px;
}

.login-form input{
	width: 100%;
	padding: 6px 10px;
	border: 1px solid #666;
	border-radius: 3px;
	outline: none;
	font-size: 16px;
}

.login-form button{
	padding: 6px 15px;
	background-color: #fff;
	color: #333;
	border-radius: 3px;
	outline: none;
	border: 0;
	cursor: pointer;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #333;
}

.asideMenu{
	position: fixed;
	left: 0;
	bottom: 0;
	top: 60px;
	border-top: 1px solid #ddd;
	width: 280px;
	background-color: #333;
}

.asideMenu__Item{
	border-bottom: 1px solid #ddd;
}

.asideMenu__Item a{
	display: block;
	color: #fff;
	padding: 10px 15px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #333;
	transition: background-color 0.15s;
}

.asideMenu__Item a:hover, .asideMenu__Item--active a{
	background-color: #666;
}

.topBar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.user, .balance {
	display: flex;
	align-items: center;
	justify-content: center;
}

.user img, .balance img{
	max-width: 40px;
	border-radius: 50%;
}

.balance img{
	margin-right: 10px;
}

.user img{
	margin-left: 10px;
}

.user span, .balance span{
	color: #fff;
	font-size: 14px;
}

.users {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1%;
}

.users__item{
	width: 23%;
	margin: 1%;
	background: #08c;
	color: #fff;
	text-align: center;
	padding: 10px;
}

.users__img {
	display: block;
	margin: 0 auto 10px;
	max-width: 100%;
}

.users__name, .users__phone, .users__email{
	font-size: 13px;
	margin-bottom: 5px;
}

.users__name {
	font-weight: 600;
	font-size: 15px;
}

.search-pet {
	padding: 20px;	
	background: #08c;
	color: #fff;
}

.search-pet input {
	line-height: 40px;	
	font-size: 13px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;	
	margin-bottom: 5px;	
	margin-right: 5px;	
	padding: 0 15px;	
}

.search-pet button {
	line-height: 40px;	
	font-size: 16px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;	
	background: #fff;
	color: #08c;
	padding: 0 15px;
	cursor: pointer;
	vertical-align: middle;
}

.search-pet select {
	height: 42px;
	border: none;
	border-radius: 5px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;	
}

h2 {
	text-align: center;	
	padding: 15px 0;
}