.Authorization {
  &__headline {
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #08c;
    min-width: 250px;
  }
  &__button {
    background-color: #08c;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    min-width: 250px;
  }
  &__error {
    color: red;
  }
}