.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__input, .App__button {
  padding: 10px;
  outline: none;
  border: none;
}

.App__button {
  background: blue;
  color: #fff;
  cursor: pointer;
}

.App__list {
  text-align: left;
}
